@import "tailwindcss";

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Neue Regrade";
  src: url("/fonts/neue_regrade_variable.ttf") format("truetype");
}

@theme {
  --color-oma-white: #e2e2e2;
  --color-oma-lightgray: #cecece;
  --color-oma-black: #111111;
  --color-oma-blue: #a1bfe7;
  --color-oma-pink: #e5b0e1;
  --color-oma-algaegreen: #9adebb;
  --color-oma-shilo: #e7acac;
  --color-oma-green: #b6e294;
  --color-oma-lightblue: #aae4e0;
  --color-oma-yellow: #e2dd94;
  --color-oma-lightyellow: #e7e3ac;
  --color-oma-purple: #a79ade;
  --color-oma-lightpurple: #bdb3e6;
  --font-display: "Neue Regrade", sans-serif;
}

@layer components {
  .box {
    @apply rounded-[10px] border-black border-2 shadow-oma-black shadow-[6px_6px_0];
  }
}

@layer utilities {
  .folder-tab {
    clip-path: path(
      "M155.925 31.4915C155.925 31.4915 147.784 29.6538 145.364 26.5647L129.198 5.92679C126.779 2.83775 122.839 1 118.637 1H37.1971C32.9831 1 29.0339 2.84831 26.6164 5.95206L10.5807 26.5395C8.16322 29.6432 4.21406 31.4915 0 31.4915"
    );
  }
}
